* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #081b29;
    color: #ededed;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;

}

.navbar a {
    display: inline-block;
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;

}

.home {

    align-items: center;
    display: flex;
    padding: 0 10%;
    height: 100vh;
    background: url();

}

.home-content {

    max-width: 600px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content p {
    font-size: 20px;
    margin: 20px 0 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home-content .btn-box {
    width: 345px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.btn-box a {
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    display: inline-flex;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: #00abf0;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;

}

.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.btn-box a:nth-child(2)::before {
    background: #00abf0;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;

}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: #081b29;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

.heading {
    font-size: 4rem;
    margin-bottom: 3rem;
    text-align: center;

}

span {
    color: #00abf0;
}

.education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
    margin: 30px;
}

.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;

}

.education-row .education-column {
    flex: 1 1 40rem;
}

.education-column .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.education-column .education-box {
    border-left: .2rem solid #00abf0;

}

.education-box .education-content {
    position: relative;
    padding-left: 2rem;

}

.education-box .education-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -0.8rem;
    width: 1.5rem;
    height: 1.5rem;
    background: #00abf0;
    border-radius: 50%;
}

.education-content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid #00abf0;
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;

}

.education-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: #778c948e;
    z-index: -1;
    transition: .5s;
}

.education-content .content:hover::before {
    width: 100%;
}

.education-content .content .year {
    font-size: 1.2rem;
    color: #00abf0;
    padding-bottom: .5rem;

}

.education-content .content h3 {
    font-size: 1.6rem;

}

.education-content .content p {
    font-size: 1 rem;
    padding-top: .5rem;
}

.skills {
    min-height: auto;
    padding-bottom: 7rem;
    background: #092d3b;


}

.skills .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;

}

.skills-row .skills-cloumn {
    flex: 1 1 40rem;
    justify-content: center;

}

.skills-cloumn .title {
    font-size: 3rem;
    margin: 0 0 1.5rem;

}

.skills-box .skills-content {
    position: relative;
    border: .2rem solid #00abf0;
    border-radius: .6rem;
    padding: .5rem 1.5rem;

}

.skills-content .progress {
    padding: 1rem 0;

}

.skills-content .progress h3 {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.contact {
    min-height: auto;
    padding-bottom: 7rem;

}

.contact form {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;

}

.contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.contact form .input-box .input-field {
    position: relative;
    width: 48%;
    margin: .5rem 0;

}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1rem;
    margin: 20px;
    font-size: 1.2rem;
    color: beige;
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid #00abf0;
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
    color:beige;

}

.contact form .textarea-field{
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;

}
.contact form .textarea-field textarea{
    resize: none;

}

.btn {

    padding: 1rem;
    background-color: #00abf0;
    font-size: medium;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 0.5rem;
    cursor: pointer;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: #092d3b;

}
.footer-text p{
    font-size: 1.5rem;

}